body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

.galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.galeria img {
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
}
